{% extends 'base.html' %}

{% block conteudo %}
<h2 class="mb-4">💊 Medicamentos Disponíveis</h2>

<div class="row">
{% for produto in produtos %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ produto.nome }}</h5>
                <p class="card-text text-muted">{{ produto.descricao }}</p>

                <h5 class="mt-auto mb-3">R$ {{ produto.preco }}</h5>

                {% if user.is_authenticated %}
                <div class="d-grid gap-2">
                    <a href="{% url 'carrinho:adicionar' produto.id %}" class="btn btn-outline-danger">
                        🛒 Adicionar ao carrinho
                    </a>

                    <a href="{% url 'carrinho:comprar' produto.id %}" class="btn btn-danger">
                        ⚡ Comprar agora
                    </a>
                </div>
                {% else %}
                    <a href="{% url 'usuarios:login' %}" class="btn btn-secondary mt-2">
                        Faça login para comprar
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
