{% extends 'base.html' %}

{% block conteudo %}
<h2 class="mb-4">Medicamentos Disponíveis</h2>

<div class="row">
{% for produto in produtos %}
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ produto.nome }}</h5>
                <p class="card-text">{{ produto.descricao }}</p>
                <p class="fw-bold">R$ {{ produto.preco }}</p>
                <a href="#" class="btn btn-danger">Comprar</a>

            </div>
        </div>
    </div>
{% empty %}
    <p>Nenhum produto cadastrado.</p>
{% endfor %}
</div>
{% endblock %}
