{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Drogazelo</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <div class="container">

    <a class="navbar-brand d-flex align-items-center" href="/">
        <img src="{% static 'images/logo.png' %}" height="40" class="me-2">
        Drogazelo
    </a>

    <div class="d-flex align-items-center gap-2">

      {% if user.is_authenticated %}
        <span class="text-white me-2">
            Olá, {{ user.username }}
        </span>

        <a href="{% url 'carrinho:ver' %}" class="btn btn-light">
          🛒 Carrinho
        </a>

        <form action="{% url 'usuarios:logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-light">
            Logout
          </button>
        </form>

      {% else %}
        <a href="{% url 'usuarios:login' %}" class="btn btn-outline-light">
          Login
        </a>
        <a href="{% url 'usuarios:cadastro' %}" class="btn btn-light text-danger">
          Cadastrar
        </a>
      {% endif %}

    </div>
  </div>
</nav>

<main class="flex-fill">
    {% block content %}
    {% endblock %}
</main>


<div class="container mt-4">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% block conteudo %}{% endblock %}
</div>

<div class="footer">
    Drogazelo © 2025 — Sistema de pedidos online
</div>

</body>
</html>