{% extends 'base.html' %}

{% block conteudo %}
<h2>Login</h2>

{% if erro %}
<div class="alert alert-danger">Usuário ou senha inválidos</div>
{% endif %}

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label>Usuário</label>
        <input type="text" name="username" class="form-control">
    </div>

    <div class="mb-3">
        <label>Senha</label>
        <input type="password" name="senha" class="form-control">
    </div>

    <button class="btn btn-danger">Entrar</button>
</form>
{% endblock %}
